<!-- templates/registration/signup.html -->
{% extends 'base.html' %}ModuleNotFoundError: No module named 'smart_selectsaccounts'

{% block content %}
  <h2>Sign up</h2>
  <p style="color:red">Wir glauben, dass es unnötig ist dich nach deiner E-mail adresse zu fragen. Allerdings funktioniert das
      nur dann, wenn du mithilfst, indem du nicht unnötig accounts erstellst, sondern nur einen besitzt. 
      Wenn zu viele Accounts angemeldet werden, müssen wir dieses Sysem umstellen, was für alle Beteiligten nervig ist.
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}