{% extends 'base.html' %}
{% block content %}
<h2><a href="">Repetitorium der Physik</a></h2>

<table id='query_result'>
    <tr>
      <th>Aufgabe</th>
      <th>Jahr</th>
      <th>Fach</th>
      <th>Professor</th>
      <th>Level</th>
      <th>Bearbeitungsstatus</th>
    </tr>
    
    {% for ex in exercises %}
    <tr>
      <td><a href='{% url "exercise_view" ex.pk %}'> {{ ex.name }}</a></td>
      <td>{{ ex.year }}</td>
      <td>{{ ex.course }}</td>
      <td>{{ ex.professor }}</td>
      <td>{{ ex.difficulty |safe}}</td>
      <td>{{ ex.exam }}</td>
    </tr>
   {% endfor %}
  </table>

{% endblock %}