{% extends 'base.html' %}
{% block content %}

{% load static %}
<script src='{% static "physicsexamsApp/jQuery.js" %}'></script>
<script src='{% static "physicsexamsApp/bootstrap.bundle.min.js"%}'></script>
<link ref='stylesheet' type="text/css" href='{% static "physicsexamsApp/bootstrap.min.css" %}'>
  
<style>
  div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
  }

  div.container {
    padding: 10px;
  }

  .hide {
      display:none;
  }
</style>

<a href='{% url "set_of_exercises_k" %}'>Zurück</a>

<center>
  <h1>{{ exam }}</h1>

  <br>

  <div class='btn btn-primary'>{{ professor }}</div>
  <div class='btn btn-success'>{{ exam.year }}</div>
  <div class='btn btn-danger'>{{ exam.course }}</div>
  <div class='btn btn-light'>{{ exam.difficulty | safe}}</div>

  <br><br>
</center>


{% for exercise in exercises %}

  <br><br>  

  <button class='btn btn-light solution_click' id='{{exercise.id}}'>Lösung</button>

  <div class='btn-group btn-group-sm' id="solved_buttons"> 


  <div class='solution card hide' id='sol{{exercise.id}}'></div>

  <br><br><br><br>
{% endfor %}

<br><br><br><br>

<script>

//Solution-Element Animation + Display
$('#solution').hide();

$('.solution_click').click(function(){
    $('#sol'+$(this).attr('id')).slideToggle();
});


//Hinzufuegen zu Favoriten 
$('.favourite').click(function(){
  if ($(this).attr('class') == 'btn btn-primary active favourite'){
    $(this).attr('class', 'btn btn-light favourite')
    favourite = false
  } else{
    $(this).attr('class', 'btn btn-primary active favourite')
    favourite = true
  }
  console.log($(this).attr('id'));
  $.ajax({
    url:'{% url "favourite_ajax" %}',
    data: {
      'favourite': favourite,
      'exercise': $(this).attr('id').toString(),
    },
    dataType:'json',
  });
});

//Bearbeitungsstatus Solved or Not Solved
$('#solved').click(function(){
  $(this).attr('class', 'btn btn-primary active');
  $('#not_solved').attr('class', 'btn btn-light');


  $.ajax({
    url:'currentExercise_ajax',
    data: {
      'solved': true,
      'exercise': '{{exercise.pk}}',
    },
    dataType:'json',
  });
});

$('#not_solved').click(function(){
  $(this).attr('class', 'btn btn-primary active');
  $('#solved').attr('class', 'btn btn-light');

  $.ajax({
    url:'currentExercise_ajax',
    data: {
      'solved': false,
      'exercise': '{{exercise.pk}}',
    },
    dataType:'json',
  });
});

</script>

{% endblock %}