{% extends 'base.html' %}
{% block content %}

<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

<script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>

<script type="module">
    import { LaTeXJSComponent } from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.mjs"
    customElements.define("latex-js", LaTeXJSComponent)
  </script>

<title>LaTeX.js Web Component Test</title>

<style>
div.card {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}
</style>
</head>

<body>
    <a href='{% url "set_of_exercises_a" %}'>Zurück</a>
<center>

<h1>{{ exercise }}</h1>

<br>

<div class='btn btn-primary'>{% for exam in exams %}{{ exam.professor }}{% endfor %}</div>
<div class='btn btn-success'>{{ exercise.year }}</div>
<div class='btn btn-danger'>{{ exercise.course }}</div>

<div class='btn btn-light'>{{ exercise.difficulty | safe}}</div>


<div id="canvas_container" style='width:80vw'>

</div>
</center>
    <br>
    <br>

  
<button class='btn btn-light' id='solution_click'>Lösung</button>


<div id='solution'  class='card' >
   <br><br>
   <center>
      <img src="{{ MEDIA_URL }}{{ exercise.answer }}">
   </center>
  
    <br><br>
</div>

<br><br><br><br>

<script>
$('#solution').hide();

$('#solution_click').click(function(){
    console.log('sdfsdf');
    $('#solution').slideToggle();

});




  // If absolute URL from the remote server is provided, configure the CORS
// header on that server.
var url = "{{ MEDIA_URL }}{{ exercise.question }}";
// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

// Asynchronous download of PDF
var loadingTask = pdfjsLib.getDocument(url);
loadingTask.promise.then(function(pdf) {
  console.log('PDF loaded');
  var pdf_pages = pdf.numPages;
  
  // Fetch the first page
  //var pageNumber = 1;
  for(pageNumber=1; pageNumber <= pdf_pages ; pageNumber ++){
 
  pdf.getPage(pageNumber).then(function(page) {
    console.log('Page loaded');
    
    var scale = 1.5;
    var viewport = page.getViewport({scale: scale});

    // Prepare canvas using PDF page dimensions
    var canvas_create = document.createElement("canvas");
    //canvas_create.setAttribute("width", "1000" );
    //canvas_create.setAttribute("height", "1000" );
    canvas_create.setAttribute("style", "border:0px; margin:0px; padding:0px; ")
   
    console.log(canvas_create);

    var context = canvas_create.getContext('2d');
    canvas_create.height = viewport.height;
    canvas_create.width = viewport.width;

    // Render PDF page into canvas context
    var renderContext = {
      canvasContext: context,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);
    renderTask.promise.then(function () {
      console.log('Page rendered');
    });
    document.getElementById("canvas_container").appendChild(canvas_create)
  });
}
}

); 

</script>




{% endblock %}