{% extends 'base.html' %}
{% block content %}
{% load static %}



<link rel="stylesheet" type='text/css' href="{% static 'physicsexamsApp/bootstrap.min.css' %}"></link>

<link rel="stylesheet" type='text/css' href="{% static 'physicsexamsApp/bootstrap-select.css' %}"></link>
<script src="{% static 'physicsexamsApp/bootstrap-select.js' %}"></script>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .text{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }

  .trSpecial:hover {
    box-shadow:  0px 0px 12px 1px rgba(0,0,0,0.2); 
  }

  .selectTable:hover{
    background-color: rgb(207, 207, 207);
  }

  .popover{
      max-width: 75%; /* Max Width of the popover (depending on the container!) */
  }

  .hide{
    display:none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .thick {
    font-weight: bold;
  }
</style>
    
<h1 style='font-family: Snell Roundhand, cursive;'>{{ mode }}</h1>
    
<br>Suche<br><br>

<input type='text' id='search' placeholder="z.B. Drehmoment"><br><br>
<label for='filter_course'>Kurs</label>
<select id='filter_course' class="" style="width:auto;">
  <option value=''>--egal--</option>
  {% for course in courses %}
  <option>{{ course }}</option>
  {% endfor %}
</select>

<label for='filter_subjects'>Thema</label>
<select id='filter_subjects' class="selectpicker" style="width:auto;" data-live-search="true" multiple>
  {% for subject in subjects %}
  <option>{{ subject }}</option>
  {% endfor %}
</select>  

<div class='dropdown' >
  <button id='filter' class='btn btn-outline-primary' style='border-radius:0px; width:auto;' >&#9660;   Filter </button>
  <div style="z-index:9999;width:25%" id='test' class='card dropdown-content'>
  
    <label for='filter_type'>Klausurtyp</label>
    <select id='filter_type' class="" style="width:auto;">
      <option value=''>--egal--</option>
      <option>Probeklausur</option>
      <option>Klausur </option> 
      <option>Wiederholungsklausur </option> 
    </select><br>
  
    <label for='filter_year'>Jahr</label>
    <select id='filter_year' class="" style="width:auto;">
      <option value=''>--egal--</option>
      <option>2020</option>
      <option>Default </option> 
    </select> <br>
  
    <label for='filter_professor'>Dozent</label>
    <select id='filter_professor' class="" style="width:auto;">
      <option value=''>--egal--</option>
      <option>Default select</option>
      <option>Default </option> 
    </select> <br>
  
    <label for='filter_difficulty'>Schwierigkeit</label>
    <select id='filter_difficulty' class="" style="width:auto;">
      <option value=''>--egal--</option>
      <option>Einfach </option> 
      <option>Mittel </option>
      <option>Schwer </option>
    </select> <br>
  
    <label for='filter_trial'>Bearbeitungsstatus</label>
    <select id='filter_trial' class="" style="width:auto;">
      <option value=''>--egal--</option>
      <option>Nicht Geschafft</option> 
      <option>Geschafft</option>
    </select> 
  </div>
  <br>
</div>
    
<div class='dropdown'>
  <button class='btn btn-outline-primary' style='border-radius:0px' id='sort'>&#9660; Sortieren</button>
  <div class='dropdown-content' style="z-index:9999;width:25%" id='sort_setting'></div>
</div>

<button class='btn btn-primary' style='border-radius:0px' id='submit'>Submit</button>
<br><br>

{% if mode == 'Aufgabensammlung' %}
<table id='query_result' style='box-shadow:0px 0px 12px 1px rgba(0,0,0,0.2); padding:4px;' >
  <tr>
    <th>Aufgabe</th>
    <th>Fach</th>
    <th>Themen</th>
    <th>Level</th>
  </tr>
  
  {% for ex in exercises %}
  <tr class='trSpecial'>
    <td><a href='{% url "exercise_view" ex.pk %}' data-html='true' data-toggle="popover" title="{{ ex.name }}" 
        data-content='{{ ex.preview }}' style='color:#323dd1; '
        id="popoverOption" class="btn" rel="popover"
        data-placement="right" data-original-title="{{ ex.name }}"><u>{{ ex.name }}</u></a>
    </td>
    <td>{{ ex.course }}</td>
    <td>
      {% for subject in ex.subject.all %}
      {{ subject }}
      {% endfor %}
    </td>
    <td>{{ ex.difficulty | safe}}</td>
  </tr>
  {% endfor %}
</table>
    
  {% else %}
  <table id='query_result' style='box-shadow:0px 0px 12px 1px rgba(0,0,0,0.2); padding:4px;' >
    <tr>
      <th>Klausur</th>
      <th>Jahr</th>
      <th>Professor</th>
    </tr>
   
    {% for exam in exams %}
      <tr class='trSpecial' >
        <td><a href='{% url "exam_view" exam.pk %}'><u> {{ exam }}</u></a></td>
        <td>{{ exam.year }}</td>
        <td>{{ exam.professor }}</td>
      </tr>
      
      <tr value='asdasdas' >
        <td ></td>
        <td colspan='3'>
          <div id='{{exam.0.pk}}' class='slide hide'>
            {% for exercise in exam.exercise_set.all %}
              <dl>
                <a href='{% url "exercise_view" exercise.pk %}'><u><i>{{ exercise }}</i></u><a>        {{ exercise.difficulty | safe}}
              </dl>
            {% endfor %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endif %}

<script>

//Filter fuer die Suche 
$('#filter').click(function(){
  if($('#test').is(':hidden')){
    $('body').attr('style','background:#dddddd')
  }else{
    $('body').attr('style','background:#ffffff')}
  $('#test').slideToggle();
})

//Sortierung der Suchergebnisse
$('#sort').click(function(){
  if($('#sort_setting').is(':hidden')){
    $('body').attr('style','background:#dddddd')
  }else{
    $('body').attr('style','background:#ffffff')}
  $('#sort_setting').slideToggle(); 
})


//Slide Down of Exercises in Exam within table
$('tr').click(function(){
  $(this).next('tr').find('.slide').slideToggle();
})

//Preview von Aufgabe
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();   
});

$('.btn').popover({ trigger: "hover" , html:true, sanitize:false });

//Search, Filter and Sort functionality of Exercises
$('#submit').click( function() {
    
    console.log($('#search').val());
    console.log($('#query_result').html());
    
    $.ajax({
      url:'Aufgabensammlung',
      data: {
        'search':$('#search').val(),
        'filter_course':$('#filter_course').val(),
        'filter_type':$('#filter_type').val(),
        'filter_year':$('#filter_year').val(),
        'filter_professor':$('#filter_professor').val(),
        'filter_subjects':$('#filter_subjects').val(),
      },
      dataType:'json',
      success: function(data){
        console.log(data);
        $('#query_result').html(data);
        $('.btn').popover({ trigger: "hover" });
      }
    })
  });

</script>
    
{% endblock %}