
    <tr>
        <th>Aufgabe</th>
        <th>Jahr</th>
        <th>Fach</th>
        <th>Professor</th>
        
        <th>Level</th>
        <th>Bearbeitungsstatus</th>
      </tr>
      
    {% for ex in exercises %}
    <tr>
        <td><a href='{% url "exercise_view" ex.pk %}' data-toggle="popover" title="{{ ex.name }}" 
            data-content=" {{ ex.question }} "
              id="popoverOption" class="btn" href="#" data-content="Popup with option trigger" rel="popover"
              data-placement="bottom" data-original-title="{{ ex.name }}">{{ ex.name }}</a></td>
        <td>{{ ex.year }}</td>
        <td>{{ ex.course }}</td>
        <td>{{ ex.professor }}</td>
        <td>{{ ex.difficulty |safe}}</td>
        <td>{{ ex.exam }}</td>
    
    </tr>
    {% endfor %}



    "<latex-js baseURL='https://cdn.jsdelivr.net/npm/latex.js/dist/'>
        \documentclass{article}
        \usepackage[utf8]{inputenc}
        \usepackage{braket}
        \usepackage{amsmath}
        \usepackage{amssymb}

        \begin{document} {{ ex.question }} \end{document}
      </latex-js>"