{% extends 'base.html' %}
{% block content %}
<h2><a href="">This is set of exercises</a></h2>
<style>
    table {
      
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    <h2>HTML Table</h2>
    
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>

      {% for ex in exercises %}
      <tr>
        <td>{{ ex.name }}</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
     {% endfor %}
    </table>
    <script type="module">
        import { LaTeXJSComponent } from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.mjs"
        customElements.define("latex-js", LaTeXJSComponent)
      </script>
<title>LaTeX.js Web Component Test</title>
</head>

<body>
  <h1>Compiling LaTeX</h1>

  <latex-js baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/">
    \documentclass{article}

    \begin{document}
    

\[ \frac{1}{2}= 1/2 \]
\[
\int_0^{\infty} \frac{1}{1+x^2} dx = \arctan(x)
\]






    \end{document}
  </latex-js>    
    </body>
    </html>
    
    
{% endblock %}