{% extends 'base.html' %}
{% block content %}
<h2><a href="">This is set of exercises</a></h2>
<style>
    table {
      
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    <h2>HTML Table</h2>
    
    <table>
      <tr>
        <th>Aufgabe</th>
        <th>Jahr</th>
        <th>Fach</th>
        <th>Professor</th>
        
        <th>Level</th>
        <th>Bearbeitungsstatus</th>
      </tr>

      {% for ex in exercises %}
      <tr>
        <td><a href='{% url "exercise_view" ex.pk %}'>{{ ex.name }}</a></td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
     {% endfor %}
    </table>
    
    </body>
    </html>
    
    
{% endblock %}