{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h2><a href="">This is to repeat</a></h2>
{% else %}
<h2><a href="">Sorry, but you need to be loged in!</a></h2>
{% endif %}


<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
<a id="popoverOption" class="btn" href="#" data-content="Popup with option trigger" rel="popover"
 data-placement="bottom" data-original-title="Title">Popup with option trigger</a>
<script>
    

    $(document).ready(function(){
  $('[data-toggle="popover"]').popover(); 
});
</script>






{% endblock %}