<!DOCTYPE html>
<html lang="en">
<head>

  <title>Aufgabensammlung</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  {% load static %}
  <script src='{% static "physicsexamsApp/jQuery.js" %}'></script>
  <script src='{% static "physicsexamsApp/bootstrap.bundle.min.js"%}'></script>
  <link ref='stylesheet' type="text/css" href='{% static "physicsexamsApp/bootstrap.min.css" %}'>
  
  <style>
    .myc {
      max-width: 85%;
    }
    .text{
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Physik Repetitorium</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="Aufgabensammlung">
            <a class="nav-link" href="{% url 'set_of_exercises_a'  %}">Aufgabensammlung <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id='Klausuren'>
            <a class="nav-link" href="{% url 'set_of_exercises_k'%}">Klausuren</a>
          </li>
        </ul>
      </div>

  </nav>

  <!-- Inhalt der Website wird hier eingefuegt -->
  <div class="container-fluid mt-5 pt-5 myc">
    {% block content %}
    {% endblock %}
  </div>
  

  <script>

//Script fuer Style Aenderungen bei hover + active in Navigationsbar-Elementen
$(document).ready(function () {

  $('li').click(function(){
        $(this).attr('class','nav-item active')
        var id = $(this).attr("id");
        localStorage.setItem("selectedolditem", id);
  ;})

  var selectedolditem = localStorage.getItem('selectedolditem');

  if (selectedolditem != null) {
      $('#' + selectedolditem).siblings().find(".active").removeClass("active");
      $('#' + selectedolditem).addClass("active");
  }

});

  </script>

</body>
</html>